/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { display: block; position: absolute; top: 0; z-index: 100; width: 100%; margin: 0; text-align: center; font-size: 10px; background: #FFFF07; color: black; padding: 1px; }
.chromeframe a { color: blue; font-weight: bold; text-decoration: underline; }


/* ==|== primary styles =====================================================
   Author: Tobin Bradley
   ========================================================================== */

/* Helpers */
.alignleft { float: left }
.alignright { float: right }
.textright { text-align: right }
.textcenter { text-align: center; }
.print-only { display: none }
.mute { color: #77787B; font-size: 0.9em; }
.mute a { color: #77787B; font-weight: bold; }


/* some sensible defaults */
body { font-family:  Helmet, Freesans, sans-serif; font-size: 12px; font-variant: normal; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
p { margin: 10px 0 }
table { width: 100%; font-size: 0.8em;  }
td, th { padding: 2px }
h5 { padding-top: 3px; font-size: 14px; margin: 0; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.cutout { border: 2px dashed #666; border-radius: 5px; background-color: whiteSmoke; padding: 5px; }
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.2); border-radius: 10px; }
::-webkit-scrollbar-thumb { border-radius: 10px; box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }


/* layout */
#container { overflow: hidden; }
header { padding: 2px 5px; background-color: #e7e7e7; overflow: hidden; height: 65px; position: relative; z-index: 1; }
aside {
  padding: 0;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 64px;
  bottom: 0;
  width: 350px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: url(../img/gis_logo.png) bottom center no-repeat;
  box-shadow:  5px 0 5px -3px #666;
  background-color: #e7e7e7;
}
#map-container {
  position: absolute;
  top: 65px;
  left: 350px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;
}
#toolbar { position: absolute; z-index: 2; right: 0; left: 0; top: 0; padding: 2px 5px; overflow: hidden; box-shadow: 0 5px 8px #666; }
#map { position: absolute; top: 35px; left: 0; right: 0; bottom: 0; background: white; overflow: hidden; }
.ie7 #map-container { left: 400px; }

/* header image */
#logo {max-width: 251px; padding-top: 3px; float: left; }


/*  Search  */
#searchdiv { padding-top: 10px; max-width: 450px; max-height: 35px; margin: 0 auto; text-align: right; }
#searchinput {
  position: relative;
  z-index: 10;
  font-size: 1.3em;
  margin: 0;
  border:1px solid #D9D9D9;
  color: #7C7C7C;
  font-weight: bold;
  padding: 6px 5px;
  width: 100%;
  max-width: 450px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}
#searchinput:focus, #searchinput:hover {
  outline: none;
  -webkit-box-shadow: 0 0 8px #9ecaed;
  -moz-box-shadow: 0 0 8px #9ecaed;
  box-shadow: 0 0 8px #9ecaed;
  border-color: #9ecaed;
}
#searchdiv p { text-align: right; margin: 1px 0 0 0;  }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #7C7C7C; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #7C7C7C; }


/*  Sidebar  */
.datatable caption { text-align: left; padding-top: 10px; font-size: 12px; font-weight: bold; }
.table-icon { width: 16px; }
#opacitydll { margin-top: 4px; }
#opacitySlider { margin: 10px 7px 0 7px; }
footer { margin-top: 20px; }
footer hr { clear:both; width: 90%; margin: 3px auto 0; height: 3px; border-color: #bfbfbf; }
#routePane button { margin: 10px 0 7px; }
#routePane input, #routePane select { width: 80%; margin: 2px; }
.environment_div { font-size: 0.8em }
.environment-list { margin-left: 0; padding-left: 10px; }
.environment-list li { padding: 4px 5px 4px 40px; border-bottom: 1px solid #ccc; list-style: none; display: block; font-size: 0.8em;}
.environment-list-heading {padding-top: 10px;  }
.environment-water { background: url("../img/environment-water.png") no-repeat top left;}
.environment-green { background: url("../img/environment-green.jpg") no-repeat top left; }
.environment-air { background: url("../img/environment-air.png") no-repeat top left; }
.environment-land { background: url("../img/environment-land.png") no-repeat top left; }

/* Map */
#toolbar-text-output { font-size: 0.8em; position: absolute;  right: 5px; padding-top: 5px; }
#mapcontrols { float: left; }
#map { border: 1px solid #D9D9D9; }
#map div {-moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
#opacitySlider { margin: 18px auto 30px auto; width: 90%}
#elevation_chart { position: absolute; top: 65px; right: 7px; text-align: center; background: white; padding: 5px; box-shadow: 3px 3px 6px #666; }
#streetview { position: absolute; bottom: 7px; right: 7px; width: 50%; height: 40%; border: 4px solid white; }
#radius { width: 60px; }
#layerswitcher ul { margin-left: 0; padding-left: 10px; }
#layerswitcher ul li { display: block; margin: 2px 0; }
#layerswitcher input[type="checkbox"], #layerswitcher input[type="radio"] { margin-right: 5px; }
.infowin-content { overflow: hidden; }
#wmsDirectoryLayer { width: 250px; margin-left: 18px; }
.toggleLayersArea { margin-top: 10px; padding: 8px 10px 10px; }

/* Image gallery */
#housephoto { margin: 5px 0; padding: 8px 0; text-align: center; max-height: 200px; overflow: auto; }
#photo_gallery img { cursor: pointer; margin: 0 5px 5px 0; width: 30%; box-shadow: 0 3px 4px -2px black; border-top: 2px solid white; }
#housephoto button { margin-top: 8px; }
.house_photo_selected { border-top: 2px solid #547472; box-shadow: 0 0 15px #547472, 0 3px 4px -2px black; }

/*  Video holders */
#help-dialog-video { width: 640px; height: 480px; }
#search-dialog-video { width: 350px; height: 252px; margin: 0 auto 30px auto; }

/*  jQuery UI Tweaks  */
.ui-widget { font-family: Helmet, Freesans, sans-serif;}
.ui-accordion-content { padding: 5px !important; overflow: hidden; font-size: 1em; }
.ui-autocomplete-loading { background: transparent url('../img/ui-anim_basic_16x16.gif') right no-repeat; }
.ui-autocomplete .ui-menu-item { padding-left: 10px }
.ui-autocomplete {
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0.9em;
  font-weight: normal;
  max-height: 400px;
  box-shadow: 2px 2px 4px #666;
}
.ui-autocomplete-category {
  font-weight: bold;
  padding: 0 4px;
  line-height: 1.5;
  font-variant: small-caps;
  font-size: 14px;
}
.ui-accordion .ui-accordion-header a { padding: .4em .5em .4em 2em; }
.ui-accordion-content a, .ui-accordion-content a:visited { color: #1982D1 ; }




/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */

@media screen and (max-width: 1024px) {
    #searchdiv {  margin: 0 5px;  }
    #logo { float: right; }
}

@media screen and (max-width: 800px) {

  /* Header */
  header { position: absolute; padding: 0; margin: 0; top: 290px; left: 1px; right: 20px; background: #fff; }
  #logo { display: none }

  /*  Search  */
  #searchdiv { max-width: inherit; width: 100%; margin: 1px; padding-right: 2px; text-align:  left; }
  #searchinput { max-width: inherit; }


  /* map area */
  #map-container { top: 1px; left: 1px; right: 20px; bottom: auto; height: 290px; min-width:  290px;  }
  #toolbar { display: none !important; }

  #map { top: 0;  }
  .ui-button-text-only .ui-button-text { padding: 2px 3px; }

  /* sidebar */
  aside {
    top: 360px;
    left: 1px;
    right: 20px;
    bottom: inherit;
    height: auto;
    width: auto;
    overflow-y: hidden;
    min-width: 290px;
    box-shadow: none;
    background: #fff;
  }
  .ui-accordion-header a { padding: 1.4em 1em 1.4em 2.2em !important }


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}





/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {

  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: none !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }


  .print-only { display: block !important }
  .screen-only { display: none !important }

  body { background: white; }


  /* layout */
  header { text-align: center; box-shadow: none; height: 70px;}
  aside { overflow: visible; box-shadow: none; width: 100%; margin: 0 auto; padding: 0; }
  #logo { float: none; margin: 0 auto; }
  #map-container, aside { position: relative; left: inherit; right: inherit; top: inherit; bottom: inherit; }
  #map-container {
    left: 0;
    top: 20px;
    bottom: 0;
    right: 0;
    height: 750px;
    width: 99%;
    border: 2px solid black;
    margin: 0 auto;
    page-break-after: always;
  }


  .selectedLocation { font-weight: bold;  }
  .selectedLocation .smallfont { display: none;  }

  #housephoto { max-height: inherit; overflow: visible; }

  /* map */
  .gmnoprint {display: none; width: 0; height: 0; }
  .leaflet-top .leaflet-control, .olControlZoom, .olControlLayerSwitcher { display: none; }

  /* jQuery Tweaks */
  .accordion h3, .ui-tabs-nav {display: none !important;}
  .accordion .ui-state-active {display: block; font-weight: bold; font-size: 12px;}
  .ui-widget-content { border: none !important; font-size: 1.1em; }
}

@media print and (orientation:landscape) {
    #map-container { height: 570px; }
}
