# Apache configuration file
# httpd.apache.org/docs/2.2/mod/quickreference.html

# Note .htaccess files are an overhead, this logic should be in your Apache config if possible

# ----------------------------------------------------------------------
# Proper MIME Type for manifest
# ----------------------------------------------------------------------
AddType text/cache-manifest                 appcache manifest

# ----------------------------------------------------------------------
# Expires header for manifest
# ----------------------------------------------------------------------
<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType text/cache-manifest       "access plus 0 seconds"
</IfModule>


# ----------------------------------------------------------------------
# Rewrite Rules
# ----------------------------------------------------------------------
<IfModule mod_rewrite.c>
	RewriteEngine On

	# Send IE 5 and 6 packing
	RewriteCond %{HTTP_USER_AGENT} MSIE\ ([56])\.
	RewriteRule ^(.*)$ http://maps.co.mecklenburg.nc.us/ie6/ [R=302,L]
	
</IfModule>

