@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* .search-container:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
} */

/*Search input formatting*/
.search-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  padding: 5px 5px 0;
  border-radius: 3px;
  color: #1676d2;
  font-size: 32px;
}

.search-input ~ .border {
  position: relative;
  top: -2px;
  width: 0;
  height: 3px;
  background-color: var(--colorSearch, #27ad8a);
}

.search-input:focus ~ .border {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.search-input:focus {
  outline: none;
}
.search-container {
  margin: 20px 0 10px;
}
.search-input-container {
  width: 80%;
  margin: 0 auto;
}
.search-input-container p {
  padding-left: 5px;
  margin: 0;
}

@media (max-width: 1000px) {
  .search-input,
  .search-header {
    font-size: 26px;
  }
}
@media (max-width: 700px) {
  .search-input,
  .search-header {
    font-size: 20px;
  }
  .search-input-container {
    width: 100%;
  }
}

/*Search results formatting*/
#search-results {
  column-count: 2;
  column-gap: 35px;
}
#search-results ul {
  padding: 0;
  margin: 0;
}
#search-results li {
  list-style-type: none;
  padding: 5px;
  border: 1px solid rgb(0, 145, 234);
  border-radius: 3px;
  margin: 5px 0 5px 0;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s ease all;
  color: rgb(0, 145, 234);
}
#search-results li:hover {
  background: rgb(0, 145, 234);
  color: white;
}
#search-results .search-result-label {
  text-decoration: none;
  padding-left: 6px;
}
#search-results span {
  pointer-events: none;
}

.search-result-type {
  background-color: rgb(0, 145, 234);
  color: white;
  padding: 3px;
  font-weight: bold;
  border-radius: 3px;
}
@media (max-width: 900px) {
  #search-results {
    column-count: 1;
  }
}
