/*
____________________________________
/ The main CSS file, using PostCSS and \
\ CSSNext.                             /
------------------------------------
       \   ^__^
        \  (oo)\_______
           (__)\       )\/\
               ||----w |
               ||     ||
*/


/*body treatments*/
html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  color: var(--colorText);
}
a {
  text-decoration-skip: ink;
  color: var(--colorLink);
}

/* general good ideas */
.list-unstyled {
  list-style-type: none;
  padding-left: 10px;
}
.muted {
  font-size: 0.9em;
  color: #666;
}

.mdl-selectfield {
  margin: 0 0 10px;
}
.mdl-tabs__tab-bar {
  justify-content: left;
}
.mdl-tabs__tab {
  padding: 0 14px;
  line-height: 65px;
}

.mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/*condensed table*/
.table-condensed td {
  padding: 10px;
  height: 20px !important;
}
.table-condensed tr {
  height: 25px !important;
}

/* top bar color */
.mdl-layout__header {
  background-color: var(--colorSidebar, #263238);
}
