/*
____________________________________
/ The main CSS file, using PostCSS and \
\ CSSNext.                             /
------------------------------------
       \   ^__^
        \  (oo)\_______
           (__)\       )\/\
               ||----w |
               ||     ||
*/

@import 'modules/material.css';
@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import 'modules/fontello.css';
@import 'modules/variables.css';
@import 'modules/oldie.css';
@import 'modules/sidebar.css';
@import 'modules/intro.css';
@import 'modules/cards.css';
@import 'modules/search.css';
@import 'modules/map.css';
@import 'modules/photos.css';
@import 'modules/reports.css';
@import 'modules/print.css';
@import 'modules/youtube.css';
@import 'modules/credits.css';


/*body treatments*/
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}


/* general good ideas */
.list-unstyled {
    list-style-type: none;
    padding-left: 10px;
}
.muted {
    font-size: 0.9em;
    color: #666;
}
