.map-container,
.map-catcher,
#map {
  position: relative;
}
#map {
  min-height: 420px;
  width: 100%;
  height: 100%;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  padding-top: 15px;
  text-align: center;
  font-family: 'Roboto', 'Helvetica', 'sans-serif';
  line-height: 15px;
}

.toggle-map {
  display: none;
}

.locationMarker {
  background-image: url('img/location.svg');
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.poiMarker {
  background-image: url('img/poi.svg');
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media (max-width: 840px) {
  .toggle-map {
    display: block;
  }
}
