.photos {
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
}
.photo-big img, .photo-big a {
    width: 100%;
    display: block;
    min-height: 230px;
}
.photo-thumb img {
    display: inline-block;
    width: 20%;
    margin: 5px;
    cursor: pointer;
}
