.qol {
  & span.legend {
    font-size: 0.8em;
    display: inline !important;
  }
  & .report-record-highlight {
    margin: 0 auto 20px;
  }
  & .legend-selected,
  & .legend-county {
    width: 1.4em;
    height: 1.4em;
  }
  & .legend-selected {
    fill: #ba00e4;
  }
  & .legend-county {
    fill: #d70206;
  }
  & .qol-comparison {
    margin-top: 10px;
    margin-bottom: 0;
  }
  & textarea {
    font-size: 0.8em;
  }
  & #embed-textarea .mdl-textfield__label {
    top: 4px;
    color: #3f51b5;
    font-size: 12px;
  }

  & .qol-chart-trend .ct-series-b .ct-line,
  & .qol-chart-trend .ct-series-b .ct-point {
    stroke: #ba00e4;
  }
  & .mdl-tabs__panel button {
    cursor: pointer;
  }
  & .mdl-tabs__panel button:hover {
    background-color: rgb(255, 183, 77);
  }
  & .mdl-tabs__panel button span {
    pointer-events: none;
  }
  & tr {
    cursor: pointer;
  }
  & tr[data-qolgroup="Neighborhood"] td {
    font-weight: bold;
    font-size: 1.2em;
    color: #555;
    background-color: #cddc38;
    cursor: default;
  }
  & .qol-metric-tab-card {
    margin: 0 auto;
    padding: 0 20px;
  }
  & .qol-metric-tab > .mdl-tabs__panel {
    padding-top: 20px;
  }
  & .trendchart h4 {
    margin: 8px 0 0;
  }
}
