:root {
  --colorIconic: #1676d2;
  --colorHighlight: rgb(255, 183, 77);
  --colorLink: rgb(211, 45, 101);
  --colorSidebar: #263238;
  --colorSidebarActive: #28343b;
  --colorSidebarText: #b0bec5;
  --colorBody: #f5f5f5;
  --colorContent: #ffffff;
  --colorText: rgb(79, 104, 115);
}
