// imports
@import "vendor/bootstrap/bootstrap.less";
//@import "theme/variables.less";
//@import "theme/bootswatch.less";
@import (less) "../../bower_components/leaflet/dist/leaflet.css";
//@import (less) "../../leaflet-1b1/leaflet.css";
@import "vendor/typeahead.less";
//@import (less) "vendor/bootstrap-chosen.less";
@import "vendor/jquery-tourbus.less";
@import "embed.less";
@import "print.less";

// vars
@body-color: rgb(249, 249, 249);
@header-start-color: #242428;
@header-end-color: #50A3B6;
@div-start-color: #ffffff;
@div-end-color: #e9e9e9;
@background-svg: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIiBzdHlsZT0iZmlsbC1vcGFjaXR5OiAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiIHN0eWxlPSJmaWxsLW9wYWNpdHk6IDAuMSI+PC9yZWN0Pgo8L3N2Zz4=";
@fancyshadow: inset 0 0 40px rgba(0, 0, 0, 0.12); //0 8px 6px -6px #666,
@highlightColor: #F6DC62;
@selectedColor: #FFA400;
@darkGray: #666;

// mixins
.gradient {
    background: @header-start-color;
    background: url(@background-svg) repeat center center, linear-gradient(45deg, @header-start-color 0%, @header-end-color 100%) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@header-start-color, endColorstr=@header-end-color,GradientType=1 );
}

/* OldIE Prompt */
.oldie {
    width: 100%;
    margin: 0;
    font-size: 0.9em;
    padding: 1px;
    a {
        text-decoration: underline;
    }
}

body {
    background: @body-color url(../images/linen.png);
}

.container-content {
    margin-top: 40px;
}

/* chosen customizations */
a.chosen-single {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.chosen-container-active.chosen-with-drop .chosen-single {
background-color: white;
}


// Bootstrap customizations
.navbar-main {
    background: rgba(100,100,100,0.1);
    border-bottom: 1px solid #ccc;
}
.navbar-default .navbar-brand {
    //font-family: 'News Cycle';
    font-size: 2em;
    text-shadow: #777 0 1px 1px;
    .navbar-subtitle {
        font-size: 14px;
    }
}

.tt-dropdown-menu {
    //z-index: 10000 !important;
}

.report h5 {
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 20px;
}
.question {
    margin: 15px 0 10px;
}

#map-area {
    margin-top: 50px;
}
.contact {
    min-width: 300px;
    padding: 10px 10px 0;
    input, textarea {
        margin: 0 0 10px;
    }
}



/* Aside */
.details {
    table {
        margin-bottom: 12px;
        caption { font-weight: bold; font-size: 1.1em; }
        td { font-size: 0.9em; padding:  5px 5px; line-height: 16px;}
        th { font-size: 0.9em; }
        h4 { margin-bottom: 0; }
        h4:not(first-child) { margin-top: 20px; }
        tfoot { font-size: 0.9em; font-style: italic;}
    }
    h5 { margin: 10px 0 0; }
    ul { margin-bottom: 3px;}
    tr[data-location] { cursor: pointer; }
    tr[data-location]:hover { background: #dddddd; }
    padding: 0 5px;
}
.resources, .about { font-size: 0.9em; }
// photos carousel
#photos-carousel {
    margin: 10px auto;
    width: 90%;
    .item { background: black;}
    img { height: 300px; margin: 0 auto;}
    .carousel-caption { padding: 5px 10px; }
}


#searchbox {
    margin-bottom: 7px;
}

/* Map */
#map {
    height: 550px;
    background: rgba(0,0,0,0);
}
.leaflet-container{
    border-radius: 10px;
}


.map-info {
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    h5 {
        margin: 6px;
        font-size: 1em;
    }
}
.leaflet-popup-content {
    h5 { margin-bottom: 0; line-height: 20px; font-weight: bold; }
    ul { margin-top: 10px;}
}
.leaflet-control-layers-toggle {
  background-image: url(../images/layers.png);

}



/* Footer */
footer {
    margin-top: 80px;
    font-size: 0.9em;
    p { margin: 10px 0 10px; }
}

/* Embed modal/carousel */
.bigmodal {
    .modal-content { width: 750px; }
    .modal-footer { margin-top: 0; }
    label.checkbox {
        font-weight: normal;
    }
    .form-group {
        margin-left: 0;
        margin-right: 0;
    }
}
.bigmodal legend {
    margin-bottom: 0;
}
#embed-carousel {
    margin: 0;
    .carousel-inner { .gradient;  }
    .carousel-content , .carousel-shade { box-sizing: border-box; }
    .carousel-content { width: 750px; height: 400px; padding: 20px 45px;  }
    .carousel-shade {
        padding: 10px;
        margin: 0 60px;
        border-radius: 6px;
        background: rgb(255,255,255);
        background: rgba(255,255,255,0.9);
        overflow: auto;
        box-shadow: 0 8px 12px -6px #000;
    }
}
#size-boxes {  padding: 10px 0 0; }
#size-boxes div:nth-child(1) { padding-right: 10px; }
.selected-size {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.embed-cols {
    width: 50%;
    box-sizing: border-box;
}

.contact {
    min-width: 300px;
    padding: 10px 10px 0;
    input, textarea {
        margin: 0 0 10px;
    }
}





// repsonsive design
@media (max-width: 979px) {
    .navbar-fixed-top { margin-bottom: 0; }
    .jumbotron { padding: 20px 0 5px; }
}
@media (max-width: 767px) {
    body { padding: 0; }
    .container { padding: 0 10px 0 5px; }
    .main-header { display: none; }
    #map { margin: 0 20px; }
}

//  printing
@media print {
    .btn-navbar { display: none !important; }
    #map { box-shadow: none; width: 90%; }
    .page-break { display: block; page-break-before: always; }
    .well { display: none; }
    // a[href]:after {
    //     content: none;
    // }
}
