<div class="details what">
    <table class="table table-condensed">
        <caption class="text-left">Neighborhood Building Permits</caption>
        <% if ( rc.length > 0 ) { %>
        <thead>
            <tr>
                <th>Year</th>
                <th>Quarter</th>
                <th class="text-right">Projects</th>
                <th class="text-right">Area</th>
                <th class="text-right">Cost</th>
            </tr>
        </thead>
        <tbody>
            <% _.each( rc, function( item ){ %>
                <tr>
                    <td><%- item.theyear %></td>
                    <td><%- item.thequarter %></td>
                    <td class="text-right"><%- item.thecount %></td>
                    <td  class="text-right" nowrap><%- prettyNumber(item.square_footage) %> ft<sup>2</sup></td>
                    <td class="text-right"><%- prettyNumber(item.construction_cost, "$") %></td>
                </tr>
            <% }); %>
        </tbody>
        <% } else { %>
        <tbody>
            <tr>
                <td>No building permits found.</td>
            </tr>
        </tbody>
        <% } %>
    </table>
</div>
<div class="details resources">
    <h5>Additional Resources</h5>
    <ul class="list-unstyled">
        <li><a href="http://charmeck.org/city/charlotte/planning" target="_blank">Planning Department</a></li>
        <li><a href="http://charmeck.org/mecklenburg/county/LUESA" target="_blank">LUESA</a></li>
    </ul>
</div>
