<h3 class="visible-print">Parks</h3>
<div class="details what">
    <table class="table table-condensed">
    <caption class="text-left">Nearest Parks</caption>
        <thead>
            <tr>
                <th>Park</th>
                <th>Address</th>
                <th class="text-right">Distance</th>
            </tr>
        </thead>
        <tbody>
            <% _.each( rc, function( item ){ %>
                <tr data-location="<%- item.lng %>,<%- item.lat %>" data-label="<%- toTitleCase(item.label) %>">
                    <td><%- toTitleCase(item.label) %></td>
                    <td><%- toTitleCase(item.address) %>, <%- toTitleCase(item.city) %></td>
                    <td class="text-right"><%- Math.ceil((item.distance / 5280) * 10) / 10 %> mi</td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<div class="details resources">
    <h5>Additional Resources</h5>
    <a href="http://charmeck.org/mecklenburg/county/ParkandRec/Pages/default.aspx">Park and Recreation</a>
</div>
