<h3 class="visible-print">Photos</h3>
<div class="details what text-center">
    <% if (rc !== "row" && rc.length !== 0) { %>
    <div id="photos-carousel" class="img-thumbnail hidden-print carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <% _.each( rc, function( item, i ){ %>
                <% if (i === 0 ) { %>
                    <div class="item active">
                <% } else { %>
                    <div class="item">
                <% } %>
                        <img class="" src="<%- item.row.photo_url %>" onError="this.onerror=null;this.src='images/no-image.gif';">
                        <div class="carousel-caption text-center">
                            <%- item.row.attribution %>, <%- item.row.photo_date.substring(0,4) %>-<%- item.row.photo_date.substring(4,6) %>-<%- item.row.photo_date.substring(6,8) %>
                        </div>
                    </div>
            <% }); %>
        </div>
        <% if (rc.length > 1) { %>
        <!-- Controls -->
        <a class="left carousel-control" href="#photos-carousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#photos-carousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
        <% } %>
    </div>

    <div class="visible-print">
        <% _.each( rc, function( item, i ){ %>
        <img style="width: 45%" class="img-thumbnail" src="<%- item.row.photo_url %>" onError="this.onerror=null;this.src='images/no-image.gif';">
        <% }); %>
    </div>
    <script> $('#photos-carousel').carousel(); </script>
    <% } else { %>
    <p><h4>No photos available.</h4></p>
    <% } %>
    <p class="submit-photo hidden-print"><button class="btn btn-primary" type="button" onclick="submitPhoto()">Submit a Photo</button></p>
</div>

