<div class="details what">
    <% if (rc !== "row" && rc.length !== 0) { %>
    <table class="table table-condensed">
        <caption class="text-left">Land Use</caption>
        <thead>
            <tr>
                <th>Use</th>
                <th class="text-right">Units</th>
                <th>Neighborhood</th>
            </tr>
        </thead>
        <tbody>
            <% _.each( rc, function( item ){ %>
                <tr>
                    <td><%- item.row.land_use %></td>
                    <td class="text-right"><%- Math.round(item.row.units) %></td>
                    <td><%- item.row.neighborhood_code %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <% } %>
</div>
