<h3 class="visible-print">Magnet Schools</h3>
<div class="details what">
    <table class="table table-condensed">
        <caption class="text-left">Magnet Schools</caption>
        <thead>
            <tr>
                <th>School</th>
                <th>Address</th>
                <th class="text-right">Distance</th>
            </tr>
        </thead>
        <tbody>
            <% _.each( rc, function( item ){ %>
                <tr data-location="<%- item.lng %>,<%- item.lat %>" data-label="<%- item.label %>">
                    <td><%- item.label %><% if (_.contains([4429, 8364, 5532, 8482, 7405, 7496, 5520], item.schl)) { %>*<% } %></td>
                    <td><%- item.address %></td>
                    <td class="text-right"><%- Math.ceil((item.distance / 5280) * 10) / 10 %> mi</td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

