<div class="details what">
    <% if (rc.length !== 0 ) { %>
    <%
            var district = _(rc).filter(function (x) { return x.district !== "At-Large";});
            var atlarge = _(rc).filter(function (x) { return x.district === "At-Large";});
         %>
    <table class="table table-condensed">
        <caption class="text-left">Charlotte City Council District <%= rc[0].district %></caption>
        <tbody>
            <tr>
                <td><%= district[0].representative %></td>
            </tr>
            <tr>
                <td>
                    <%
                            var al = [];
                            _.each( atlarge, function( item ){
                                al.push(item.representative);
                            });
                        %>
                    <strong>At-Large: </strong><%= al.join(", ") %>
                </td>
            </tr>
        </tbody>
    </table>
    <% } %>
</div>
<div class="details resources">
    <h5>Additional Resources</h5>
    <ul class="unstyled">
        <li><a href="http://www.meckboe.org/" target="_blank">Mecklenburg County Board of Elections</a></li>
    </ul>
</div>
