<h3 class="visible-print">Voting</h3>
<div class="details what">
    <table class="table table-condensed">
        <caption class="text-left">Polling Location</caption>
        <thead>
            <tr>
                <th>Location</th>
                <th>Address</th>
                <th class="text-right">Distance</th>
            </tr>
        </thead>
        <tbody>
                <tr data-location="<%- rc[0].lng %>,<%- rc[0].lat %>" data-label="<%- rc[0].label %>">
                    <td><%- rc[0].label %></td>
                    <td><%- rc[0].address %></td>
                    <td class="text-right"><%- Math.ceil((rc[0].distance / 5280) * 10) / 10 %> mi</td>
                </tr>
        </tbody>
    </table>
</div>
