<div class="details what">
    <table class="table table-condensed">
        <%
            var district = _.filter(rc, function (x) { return x.district !== "At-Large";});
            var atlarge = _.filter(rc, function (x) { return x.district === "At-Large";});
         %>
        <caption class="text-left">Mecklenburg County Commission District <%= rc[0].district %></caption>
        <tbody>
            <tr>
                <td><%= district[0].representative %></td>
            </tr>
            <tr>
                <td>
                    <%
                            var al = [];
                            _.each( atlarge, function( item ){
                                al.push(item.representative);
                            });
                        %>
                    <strong>At-Large: </strong><%= al.join(", ") %>
                </td>
            </tr>
        </tbody>
    </table>
</div>
