html,
body {
  height: 100vh;
}

body {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

.sidebar {
  position: fixed;
  width: 200px;
  top: 0;
  bottom: 0;
  overflow: visible;
  overflow-y: auto;
}

.content {
  flex: 1;
  background: white;
  will-change: transform;
  transition: transform 0.5s ease-in-out;
  padding-bottom: 20px;
  z-index: 1;
}

.content.isOpen,
.content.isHover {
  transform: translate3d(200px, 0, 0);
}

/** offline */
.offline {
  background-color: yellow !important;
  & h3 {
    font-weight: bold;
    margin: 0;
  }
  & p {
    margin: 10px 0 0;
  }
}

@media (min-width: 1000px) {
  .content {
    margin-left: 200px;
  }
}
