.print-only {
  display: none;
}

.print-header {
  text-align: center;
}

@media print {
  nav {
    display: none;
  }

  a[href^="http"]:not([href*="mywebsite.com"])::after {
    content: " (" attr(href) ")";
  }

  .print-only {
    display: inherit;
  }
  .no-print {
    display: none;
  }

  .card {
    padding: 0;
  }

  .report-record-highlight svg.icon {
    width: 5em;
    height: 5em;
  }
}
