.sidebar {
  background: #333;
}

/* nav title */

.title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgba(238, 238, 238, 1);
  border-bottom: 1px solid #222;
  background: #2a2a2a;
  transition: color 0.3s ease-in;
}

.title a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s ease-in;
  padding-left: 6px;
}

.title a:hover {
  color: #5b5;
}

/* nav links */

.nav li a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 13px;
  color: #eee;
  border-bottom: 1px solid #222;
  font-weight: normal;
  cursor: pointer;
}

.nav li a:hover {
  background: #444;
}

.nav li a.active {
  box-shadow: inset 7px 0 0 #5b5;
  background: #444;
}

/* sidebar icons */

.nav .icon {
  margin: 0 15px 0 15px;
  font-size: 24px;
  vertical-align: middle;
}