.mapboxgl-ctrl-aerial {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDI4LjEgMjguMSI+PHBhdGggZD0ibTEzLjEgNS40aC0yLjZjLTAuOSAwLTAuOS0wLjkgMC0wLjloN2MwLjkgMCAwLjkgMC45IDAgMC45aC0yLjZjMCAwIDEuMSAwLjggMS4xIDIuNXYxLjhoNy43djIuNmwtNy43IDIuNi0wLjYgNi40IDMuMiAxLjd2MC45SDkuNVYyMi45TDEyLjcgMjEuMiAxMi4xIDE0LjggNC40IDEyLjJWOS42SDEyLjFWNy45YzAtMS44IDEuMS0yLjUgMS4xLTIuNXoiLz48L3N2Zz4=);
  opacity: 0.3;
}
.mapboxgl-ctrl-aerial-active {
  opacity: 1;
}

.mapboxgl-popup-content {
  @apply pt-6 shadow-xl;
}

.mapboxgl-popup-community .mapboxgl-popup-content {
  @apply py-1;
}

.mapboxgl-popup-close-button,
.mapboxgl-popup-close-button:hover {
  @apply w-5 h-5 text-white bg-blue-800;
}

.mapPoints-maker {
  width: 0;
  height: 0;
}

.mapPoints-maker span {
  width: 25px;
  height: 25px;
  @apply bg-pink-700 text-white cursor-pointer justify-center items-center flex;
  border: solid 2px;
  border-radius: 0 70% 70%;
  box-shadow: 0 0 2px #000;
  transform-origin: 0 0;
  transform: rotateZ(-135deg);
}

.mapPoints-maker b {
  transform: rotateZ(135deg);
}

.map {
  height: 500px;
  max-width: 7.5in;
  max-height: 100vh;
  @apply shadow-lg w-full mx-auto border-blue-800 border-t-8 rounded-lg rounded-t-none;
}
