.transition-border {
  transition: border-color 0.2s ease-in-out;
}

.transition-background {
  transition: background-color 0.2s ease-in-out;
}

.transition-all {
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out, shadow 0.2s ease-in-out;
}