.tutorial-wrapper {
  padding-bottom: 56.25%;
}

.play-button {
    width: 90px;
    height: 60px;
}

.play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #fff;
  margin-left: 3px;
}

.play-button,
.play-button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}