.mdl-card {
    margin: 0;
    width: 100% !important;
}
.mdl-card__title {
    box-sizing: border-box;
}
.demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}
