
.chip {
    padding: 6px 10px;
    border: 0; 
    border-radius: 16px;
    background-color: #dedede;
    display: inline-block;
    color: rgba(0,0,0, 0.87);
    margin: 2px 0;
    white-space: nowrap;
    transition: background-color 0.4s ease;
    outline: none;
}

.chip-active {
    background-color: var(--colorHighlight);
}