.map-container:-webkit-full-screen {
    width: 100%;
    height: 100%;
}
.map-container, .map-catcher, #map {
    width: 100%;
    height: 100%;
}
.mdl-card-map {
    height: 380px;
}
.mapboxgl-popup {
    max-width: 200px;
}
.mapboxgl-popup-content {
    padding-top: 15px;
    text-align: center;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    line-height: 15px;
}
.marker-title {
    font-weight: 700;
    padding-bottom: 5px;
}

.map-menu-list li {
    font-size: 0.8em;
    padding: 10px;
    margin: 0;
    height: 10px;
}
