/* message for IE<10 */
.oldie {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    background: yellow;
    text-align: center;
}
