.print-only {
    display: none;
}

@media print {
    .mdl-layout--fixed-drawer > .mdl-layout__content {
        margin-left: 0;
    }
    .no-print {
        display: none;
    }
    .search-input {
        text-align: center;
    }
    .mdl-layout__drawer, .search-input-container p, .report-moreinfo, .mdl-layout__header {
        display: none;
    }
    .mdl-layout__container {
        height: auto;
    }
    a[href]:after {
        content: "";
    }
    .icon {
        display: none;
    }
    .map-card-container {
        display: none;
    }
    .print-only {
        display: block !important;
    }
    body {
        height: auto !important;
    }
    .report-record-highlight {
        margin: 0 auto 20px;
    }
    .report-container table {
        margin: 20px auto;
    }
}
