.print-only {
    display: none;
}

@media print {
    .mdl-layout--fixed-drawer > .mdl-layout__content {
        margin-left: 0;
    }
    .search-input {
        text-align: center;
    }
    .mdl-layout__drawer, .search-input-container p, .report-moreinfo, .mdl-layout__header {
        display: none;
    }
    .mdl-layout__container {
        height: auto;
    }
    a[href]:after {
        content: "";
    }
    .mdl-card {
        page-break-before: always;
    }
    .print-only {
        display: block !important;
    }
}
