/* navigation links */
.nav-link {
    text-decoration: none;
    font-size: 12px;
    padding: 0 0 3px;
    display: block;
}
.nav-link:hover {
    text-decoration: underline;
}



.mdl-layout__drawer-button .material-icons {
    color: rgb(236, 239, 241);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding: 10px 40px;
}

.mdl-layout__drawer {
  border: none;
  background-color: var(--colorSidebar);
  color: var(--colorSidebarText);
}

.mdl-layout__drawer-button {
    line-height: normal;
    top: 3px;
}
/*.mdl-layout__drawer-button.icon-menu {
    display: inline-block;
}*/

@media (min-width: 768px) {
    .demo-header { display: none; }
}

.mdl-layout__header-row {
    padding: 0 16px 0 72px !important;
}

/*@media screen and (max-width: 1024px) {
.mdl-layout__header-row {
    height: 56px;
    padding: 0 1pc 0 55px;
}
}*/



.mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.drawer-header {
  /*box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;*/
  box-sizing: border-box;
  padding: 105px 12px 0;
  height: 151px;
  background: url(../img/bgicon.png) center center;
}
.drawer-header a {
    text-decoration: none;
    color: inherit;
}
.drawer-header span {
    font-size: 0.9em;
    color: #80a7ba;
}


.navigation {
  flex-grow: 1;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: var(--colorSidebarText);
  font-weight: 500;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover,
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.active {
  background-color: var(--colorHighlight);
  color: #37474F !important;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link .material-icons,
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link .icon
 {
  font-size: 24px;
  margin-right: 32px;
}
