:root {
    /* Colors */
    --colorIconic: rgb(0, 145, 234);
    --colorHighlight: rgb(255, 183, 77);
    --colorLink: rgb(211, 45, 101);
    --colorSidebar: #263238;
    --colorSidebarActive: #28343B;
    --colorSidebarText: #b0bec5;
    --colorBody: #F5F5F5;
    --colorContent: #ffffff;
    --colorText: rgb(79, 104, 115);
}